:root {
  font-size: 20px;
  --dark-yellow: rgb(246, 232, 131);
  --light-yellow: rgb(245, 243, 229);

}

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  position: relative;
  margin: 0.5em;
  font-family: 'Quicksand', sans-serif;
  background-color: rgb(6, 112, 243);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 1em;
}

.logout-el {
  font-size: 1rem;
  position: absolute;
  top: -5px;
  right: 20px;
  background: transparent;
  border: none;
  color: rgb(255, 255, 255);
}

.login-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90.5vw;
  height: 90vh;
  background-color: rgb(6, 6, 75);
  background-image: url(wavy.jpg);
  background-size: cover;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  border: 2px solid rgb(6, 6, 75);
  padding: 1em;
  position: absolute;
}

.modal-heading {
  font-size: 1.4rem;
}

.login-el {
  width: 100%;
}

.provider-btn {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-logo {
  width: 1.4em;
}

.login-modal button {
  border: none;
  padding: 0.8em 1em 0.8em 0.4em;
  margin-bottom: 1em;
  /* text-align: left; */
  background-color: var(--light-yellow);
  color: rgb(32, 32, 128);
  font-weight: 800;
}

h1 {
  margin: 0.5rem 0;
}

main {
  width: 100%;
  background-color: rgb(6, 6, 75);
  color: var(--dark-yellow);
  background-image: url('wavy.jpg');
  background-size: 100%;
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 1.5rem 0 1rem;
}

.login-modal, main, .table-data {
  max-width: 800px;
}

form > * {
  font-family: inherit;
  border-radius: 5px;
  border: none;
}

label, select, input {
  margin: 0.5em 0;
}

input, select {
  display: block;
  padding: 0.25rem;
  background-color: var(--light-yellow);
  color:rgb(6, 6, 75);
  font-size: inherit;
}

input:focus,
input:hover,
select:focus,
select:hover {
  outline: 2px solid var(--dark-yellow);
  box-shadow: inset 2px 2px 2px rgb(173, 173, 248);
  /* rgb(249, 221, 7); */
}

.submit-btn {
  padding: 0.8em 1em 0.8em 0.4em;
  margin-top: 1em;
  text-align: left;
  background-color: var(--dark-yellow);
  color: rgb(32, 32, 128);
  font-weight: 800;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: rgb(32, 32, 128);
  color: var(--dark-yellow);
  outline: 3px solid var(--dark-yellow);
}

.stats-heading,
.total-el {
  font-weight: 600;
  letter-spacing: 1px;
}


.stats-heading {
  margin-bottom: 0.5rem;
}

.table-data {
  height: 30vh;
  width: 100%;
  /* width: 90%; */
}

.stats-el {
  /* width: 500px; */
  background-color: var(--light-yellow);
  color:blue;
  border-radius: 5px;

}
 
.daily-stat {
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* border-bottom: 1px solid blue; */
} 

.stats-heading {
  width: 100%;
  display: flex;
}

.stats-heading th {
  width: 33vw;
}

th, tr {
  text-align: center;
  padding: 0.3em;
}

.total-el td {
  text-align: right;
  padding-top: 1em;
}
