:root {
  font-size: 20px;
  --dark-yellow: rgb(246, 232, 131);
  --light-yellow: rgb(245, 243, 229);

}

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100vh;
}

img {
  max-width: 100%;
}

body {
  margin: 0.5em;
  font-family: 'Quicksand', sans-serif;
  background-color: rgb(6, 112, 243);
  color: rgb(255, 255, 255);
  /* height: 100%; */
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.login-modal {
  margin: 0 auto;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-el {
  width: 100%;
}

.provider-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-logo {
  width: 1.4em;
}

.login-modal button {
  border: none;
  padding: 0.8em 1em 0.8em 0.4em;
  margin-bottom: 1em;
  /* text-align: left; */
  background-color: var(--light-yellow);
  color: rgb(32, 32, 128);
  font-weight: 800;
}

main {
  border-radius: 5px;
}

h1 {
  margin: 0.5rem 0;
}

main {
  background-color: rgb(6, 6, 75);
  color: var(--dark-yellow);
  background-image: url('wavy.jpg');
  background-size: 100%;
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 1em 0 0; */
  padding: 1.5rem 0 1rem;
}

form > * {
  font-family: inherit;
  border-radius: 5px;
  border: none;
}

label, select, input {
  margin: 0.5em 0;
}

input, select {
  display: block;
  padding: 0.25rem;
  background-color: var(--light-yellow);
  color:rgb(6, 6, 75);
  font-size: inherit;
}

input:focus,
input:hover,
select:focus,
select:hover {
  outline: 2px solid var(--dark-yellow);
  box-shadow: inset 2px 2px 2px rgb(173, 173, 248);
  /* rgb(249, 221, 7); */
}

.submit-btn {
  padding: 0.8em 1em 0.8em 0.4em;
  margin-top: 1em;
  text-align: left;
  background-color: var(--dark-yellow);
  color: rgb(32, 32, 128);
  font-weight: 800;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: rgb(32, 32, 128);
  color: var(--dark-yellow);
  outline: 3px solid var(--dark-yellow);
}

.stats-heading,
.total-el {
  /* margin-top: 0.5rem; */
  /* margin-right: 2rem;
  text-align: right; */
  font-weight: 600;
  letter-spacing: 1px;
}


.stats-heading {
  margin-bottom: 0.5rem;
}

.total-el {
  margin-top: 0.5rem;
  /* text-align: right; */
  /* horizontal-align: right; */

}

/* .stats-heading, 
.daily-stat {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid blue;
} */

/* table.table-data {
  width: 100%;
}

table.table-data thead,
table.table-data .stats-el {
  display: block;
}

table.table-data .stats-el {
  height: 100px;
  overflow-y: hidden;
  overflow-x: hidden;
} */

.table-data {
  height: 150px;
  width: 100%;
  border: 1px solid hotpink;
}

/* .table-data .stats-heading, */
.stats-el,
.total-el {
  display: block;
}

.stats-el {
  height: 100%;
  /* overflow-y: scroll; */
  /* overflow-x: hidden;
  overflow-y: scroll; */
}

.stats-el {
  /* width: 100%; */
  background-color: var(--light-yellow);
  color:blue;
  border-radius: 5px;

}
 
.daily-stat {
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* border-bottom: 1px solid blue; */
} 

.stats-heading {
  border: 1px solid orange;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.stats-heading th {
  width: 33vw;
  border: 1px solid orangered;
}

th, tr {
  /* width: 33%; */
  /* width: 40%; */
  text-align: center;
  padding: 0.3em;
}

.total-el td {
  text-align: right; 
}


